@import url('normalize.css');

body{
	font-family: arial;
	font-size: 21px;
	text-align: center;
	height: auto;
}

/*header*/

nav{
	height: 10%;
}

.navbar{
	padding-top: 1%;
}

/*accueil*/

.jumbotron{
	height: 800px;
	background-image: url('Mordecai_y_los_Rigbys_-_1.png');
	
}

.news{
	background-color: black;
}